/*------------Header in general ------------*/
header{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  padding-bottom: 1%;
    padding-top: 0%;
  background-color: #FFF6F5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.85;
}

/*------------ Different sections of the header ------------*/

.logo
{
  flex: 1;
}

.menu
{
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 2;
}

.seConnecter
{
  display: flex;
  justify-content: center;
  text-align: center;
}

#boutonSeConnecter
{
  color: white;
  border-radius: 10px;
  background-color: rgb(0,184,169);
  text-decoration: none;
  margin-top: 20%;
  margin-right: 20%;
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
}

#boutonSeConnecter:hover
{
  background-color: rgb(0,136,125);
}


#logoCompanyHeader
{
  width: 40%;
  padding: 12px;
}

/*------------Text of the menu ------------*/

.txtHeader1, .txtHeader4
{
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 7%;
  padding-top: 20%;
  margin-top: 25%;
}

.txtHeader2
{
  border-right: 1px solid black;
  padding: 7%;
  padding-top: 20%;
  margin-top: 25%;
}

.txtHeader3
{
  padding: 7%;
  padding-top: 20%;
  margin-top: 25%;
  border-right: 1px solid black;
}

.txtHeader1, .txtHeader2, .txtHeader3
{
  color: black;
  text-decoration: none;
}

.txtHeader1:hover
{
  font-weight: bold;
  text-decoration: underline;
}

.txtHeader2:hover
{
  font-weight: bold;
  text-decoration: underline;
}

.txtHeader3:hover
{
  font-weight: bold;
  text-decoration: underline;
}
