/*------------ General ------------*/

body{
    margin-top:10%;
}

/*------------ Title of the section ------------*/
.sectionPieces{
    display:flex;
    justify-content: space-between;
    background-color: dimgray;
    color: white;
}

.motPiece{
    font-size: x-large;
    padding-left: 5%;
}
.questions{
    padding-top: 45%;
    padding-right: 30%;
}

/*------------ Menu ------------*/

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}

#menu
{
        /*border-bottom : 1px solid #9EA0A1;*/
        padding-bottom : 25px;
        margin-left: 3%;
}

#onglets
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        /*left : 50%;*/
        margin-top : 0;
        width : 430px;
}

.options{
  display: flex;
  justify-content: space-around;
  margin-left: 3%;
}

/*margin-left : -215px; /* la moitié de width */

/*------------ Boutton ------------*/

.imgBoutton{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;


}

.imgBoutton img{
  margin-top: -100%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #009600;
}

input:focus + .slider {
    box-shadow: 0 0 1px #009600;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}