/*------------ General ------------*/

body{
    margin-top:10%;
}

/*------------ Title of the section ------------*/
.sectionPieces{
    display:flex;
    justify-content: space-between;
    background-color: dimgray;
    color: white;
}

.motPiece{
    font-size: x-large;
    padding-left: 5%;
}
.questions{
    padding-top: 45%;
    padding-right: 30%;
}
