/*------------Header in general ------------*/
#header{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  /*padding-bottom: 1%;*/
    /*padding-top: 0%;*/
  background-color: #FFF6F5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.85;
}

/*------------ Different sections of the header ------------*/

.logo
{
  flex: 1;
}

.menu
{
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 3;
}

.bouttons{
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  flex: 1;
}

/*------------ Bouttons ------------*/


#boutonSeConnecter, #boutonidentifier
{
  color: white;
  border-radius: 10px;
  background-color: rgb(0,184,169);
  text-decoration: none;
  padding: 3%;
}

#boutonSeConnecter:hover, #boutonidentifier:hover
{
  background-color: rgb(0,136,125);
}

.identifier, .seConnecter{
  margin-top: 20%;
}


#logoCompanyHeader
{
  width: 60%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 12%;
}

/*------------Text of the menu ------------*/

.txtHeader1, .txtHeader4
{
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 4%;
  padding-top: 20%;
  /*margin-top: 25%;*/
}

.txtHeader2
{
  border-right: 1px solid black;
  padding: 4%;
  padding-top: 20%;
  /*margin-top: 25%;*/
}

.txtHeader3
{
  padding: 4%;
  padding-top: 20%;
  /*margin-top: 25%;*/
  border-right: 1px solid black;
}

.txtHeader1, .txtHeader2, .txtHeader3
{
  color: black;
  text-decoration: none;
}

.txtHeader1:hover
{
  font-weight: bold;
  text-decoration: underline;
}

.txtHeader2:hover
{
  font-weight: bold;
  text-decoration: underline;
}

.txtHeader3:hover
{
  font-weight: bold;
  text-decoration: underline;
}
