form{
  margin-top: 6%;
}

input, select{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

input[type="password"]
{
  border: 1px solid black;
}

.msg_erreur
{
  font-size: 1.1em;
  color:red;
  font-weight: bold;
}
