#conteneurs{

  display: flex;
  flex-direction: center;

}
.conteneurs
{
  display: flex;

}
#conteneur1
{

    display: flex;

flex-direction: space-between;
    justify-content: space-around;
    margin-top: 10%;


}

#conteneur2
{
    flex-direction: space-between;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;



}

.element
{
  border: 3px solid blue;
  border-radius: 5px;
}

figcaption
{
	font-size: 1.2em;
	text-align: center;
}

figcaption:hover
{

	font-weight: bold;
}

.image
{
	display: block;
	text-align: center;
    margin-left: 36.75%;
    margin-right: 36.75%;
    padding: 5px 50px 15px 50px;
	background-color: #00B8A9;
	border: 2px teal solid;
	border-radius: 10%;
}

#img
{

	border-radius: 20%;
}
